body {
  padding-top: 80px;
}
.main-content {
  text-align: left;
}
.container{
  padding-top: 30px; 
	max-width: 1000px;

}
.col-md-4
{
	background: #fff;
    max-width: 300px;
    border: 1px solid #DDD;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    margin: 5px;
    margin-left: 15px;
    padding: 5px;
}